<form style="display: inline;" method="post"
      action="{{ path('specialite_complementaire_delete', {'id': specialite_complementaire.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialite_complementaire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
