{% extends 'base.html.twig' %}

{% block title %}Edit SpecialiteComplementaire{% endblock %}

{% block body %}
    <h1>Edit SpecialiteComplementaire</h1>

    {{ include('specialite_complementaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_specialite_complementaire_index') }}">back to list</a>

    {{ include('specialite_complementaire/_delete_form.html.twig') }}
{% endblock %}
