{% extends 'base.html.twig' %}

{% block title %}Edit SpecialiteComplementaire{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Spécialités / Modifier</h1>
    </div>

    {{ include('specialite_complementaire/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
