{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>GSB Médecins - Admin Panel</h1>

    Ressources:
    <ul>
        <li><a href="{{'/medecins/'}}">Médecins</a></li>
        <li><a href="{{'/pays/'}}">Pays</a></li>
        <li><a href="{{'/departements/'}}">Départements</a></li>
        <li><a href="{{'/specialite_complementaires/'}}">Specialité Complémentaires</a></li>
    </ul>
</div>
{% endblock %}
