{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Pays / Afficher</h1>
    </div>

    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ pays.nom }}</h5>
                        <p class="card-subtitle">ID : {{ pays.id }}</p>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-warning" href="{{ path('pays_edit', {'id': pays.id}) }}">Modifier</a>
                        {{ include('pays/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
